@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --hue: 550;
    --cor-destaque: hsl(var(--hue), 98%, 56%);
    --cor-text-principal: hsl(var(--hue), 0%, 96%);
    --cor-secundaria: hsl(var(--hue), 10%, 10%);
    --hover: hsl(var(--hue), 44%, 15%);
    --font-krona: 'Krona One', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-button{
    cursor: pointer;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--cor-destaque); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px var(--hover);
    background: var(--cor-destaque); 
    border-radius: 0.66rem;
  }

  ::selection {
    color: var(--cor-secundaria);
    background: var(--cor-destaque);
  }

  .rodape::selection{
    color: var(--cor-destaque);
    background: var(--cor-secundaria);
  }

body{
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    color: var(--cor-text-principal);
    scroll-behavior: smooth;
}
.cabecalho__menu{
    display: flex;
    padding: 3% 0 0 9% ;
    gap: 10rem;
    font-family: var(--font-montserrat);
}

.cabecalho__menu__link{
    
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-destaque);
}



.titulo-destaque{
    color: var(--cor-destaque);
}

.apresentacao{
    padding: 5% 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9rem;

}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.apresentacao__conteudo__titulo{
    font-size: 3.7rem;
    font-family: var(--font-krona);
}

.apresentacao__conteudo__texto{
    font-size: 2rem;
    font-family: var(--font-montserrat);
}

.apresentacao__links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.6rem;
}

.apresentacao__links__subtitulo{
   font-family: var(--font-krona);
font-weight: 400;
font-size: 2rem;
}

.apresentacao__links__link{
    display: flex;
    background-color: var(--cor-secundaria);
    width: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.66rem;
    border: solid 0.16rem var(--cor-destaque);
    font-size: 2.4rem;
    font-weight: 600;
    padding: 2.15rem 0;
    text-decoration: none;
    color: var(--cor-destaque);
    font-family: var(--font-montserrat);
    text-align: center;
    gap: 1.333rem;
    transition: all 0.5s;

}

.apresentacao__links__link:hover{
    transition: all 0.5s;
    background-color: var(--hover);

}

.apresentacao__img{
    
    width: 40%;
}

.rodape{
    background-color: var(--cor-destaque);
    width: 100%;
    color: var(--cor-secundaria);
    font-family: var(--font-montserrat);
    padding: 2.5rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

/*sobre mim*/ 

.apresentacao__conteudo__texto__sb{
    font-size: 2rem;
    font-family: var(--font-montserrat);
    line-height: 3rem;
    font-weight: 400;
    color: var(--cor-text-principal);
}

/* responsibilidade*/

@media (min-width: 414px) and (max-width: 1200px) 
{
    .cabecalho__menu{
        padding: 3% 0 0 30% ;
    }
    .cabecalho__menu__link{
    
        font-size: 3rem;

    }

 .apresentacao{
    flex-direction: column-reverse;
 }
 .apresentacao__img{
    
    width: 65%;
}
.apresentacao__conteudo__titulo{
    font-size: 2.8rem;
    font-family: var(--font-krona);
}

.apresentacao__conteudo__texto{
    font-size: 2.0rem;
    font-family: var(--font-montserrat);
}
.apresentacao__conteudo{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.apresentacao__conteudo__texto__sb{
    font-size: 2rem;
    line-height: 3rem;
}


.apresentacao__links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.6rem;
}

.apresentacao__links__subtitulo{
   font-family: var(--font-krona);
font-weight: 400;
font-size: 2.9rem;
}

.apresentacao__links__link{  
    width: 90%;
    font-size: 2.9rem;
    padding: 2.15rem 0;
    text-align: center;
    gap: 1.333rem;
}

.rodape{
    font-size: 3.3rem;
}

}


@media (min-width: 0px) and (max-width: 414px){
    .cabecalho__menu{
        padding: 3% 0 0 20% ;
    }

    .cabecalho__menu__link{
    
        font-size: 2rem;

    }

 .apresentacao{
    flex-direction: column-reverse;
 }
 .apresentacao__img{
    
    width: 95%;
}
.apresentacao__conteudo__titulo{
    font-size:1.9rem;
    font-family: var(--font-krona);
}

.apresentacao__conteudo__texto{
    font-size: 1.7rem;
    font-family: var(--font-montserrat);
}
.apresentacao__conteudo{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.apresentacao__conteudo__texto__sb{
    font-size: 1.9rem;
    line-height: 3rem;
}


.apresentacao__links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.6rem;
}

.apresentacao__links__subtitulo{
   font-family: var(--font-krona);
font-weight: 400;
font-size: 2.3rem;
}

.apresentacao__links__link{  
    width: 95%;
    font-size: 1.7rem;
    padding: 2.15rem 0;
    text-align: center;
    gap: 1.333rem;
}

.rodape{
    font-size: 2.5rem;
}
}


